.item {
    height: 25vh;
    width: 25vh;
    font-size: 10rem;
    letter-spacing: 0px;
}


.mainTable, .row, .item {
    border: 1px solid;
}

body{
    display: flex;
    flex-direction: column-reverse;
}