* {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

body {
    background-color: black;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome > h1 {
    font-size: 5em;
}

#submitBtn {
    font-size: 1.2em;
    background-color: red;
    border-top: 2px solid rgb(158, 31, 31);
    border-left: 2px solid rgb(158, 31, 31);
    border-bottom: 2px solid rgb(255, 137, 137);
    border-right: 2px solid rgb(255, 137, 137);
    width: 12vh;
    height: 4vh;
    margin-top: 5vh;
}

#playerForm {
    margin-top: 10vh;
}

#playerForm > fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstWrapper, #secondWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

#firstPlayer, #secondPlayer {
    background-color: black;
    width: 10vh;
}


.item {
    height: 25vh;
    width: 25vh;
    font-size: 5em;
    letter-spacing: 0px;
}


.mainTable, .row, .item {
    border: 1px solid;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#scoreboard{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    width: 75vh;
    /*visibility: hidden;*/
}

#player1, #player2 {
    display: flex;
    flex-direction: row;
}

#player1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
#player2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.playerName, .playerScore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 20vh;
    height: 15vh;
    border: 2px solid red;
}